.bg {
  background: image-url("chanel.svg") no-repeat top left;
}

.bg-basic {
  background: svg("chanel.svg") no-repeat top left;
}

.bg-with-absolute-fallback {
  background: svg("chanel.svg", "/images/no-svg/chanel.png") no-repeat top left;
}

.bg-with-relative-fallback {
  background: svg("chanel.svg", "chanel.png") no-repeat top left;
}

.bg-inline {
  background: svg_inline("chanel.svg") no-repeat top left;
}

.bg-with-fallback {
  background: svg_inline("chanel.svg", "no-svg/chanel.png") no-repeat top left;
}